{% extends 'base2.html' %}
{% load static %}

{% block preloader %}
  {% include 'preloader.html' %}
{% endblock preloader %}

{% block adminheader %}
  {% include 'adminheader.html' %}
{% endblock adminheader %}

{% block content %}
  

  

 
      <!-- FEATURE -->
      <section id="feature" data-stellar-background-ratio="0.5" style="background-color: rgb(17, 17, 36);">
          <div class="container">
               <div class="row">
                  
                    <div class="col-md-12 col-sm-12">
                         <div class="section-title text-center">
                              <h2 style="color: white;"><img src="{{fvp.logo.url}}" alt="" style="height: 80px;">Rccg {{fvp.name|title}} Admin </h2>
                              <h4 style="background-color:orangered;color: white;font-weight: 900;"> <i class="fa fa-warning" aria-hidden="true"></i> Authenticated users only  </h4>
                              
                         </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        
                         <div class="testimonial-item">
                              <img src="{% static '' %}images/favicon.jpg" class="img-responsive" alt="Rccg logo"> 
                              <h4 style="color: white;font-weight: 400;">This Is Strictly For Media Team
                                   <p style="color: white;font-weight: 900;">If you are viewing this page,that means yor are an Authorised User</p> 
                              </h4>
                            
                         </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                         <h4><i class="fa fa-user" aria-hidden="true"  style="font-weight: 900;color: white;">Fvp Member Profile</i></h4>
                         <ul class="nav nav-tabs" role="tablist">
                              <li class="active"><a href="#tab01" aria-controls="tab01" role="tab" data-toggle="tab"  style="font-weight: 900;color: white;">Users</a></li>
                              <li><a href="#tab02" aria-controls="tab02" role="tab" data-toggle="tab" style="font-weight: 900;color: white;">Contact</a></li>
                              <li><a href="#tab03" aria-controls="tab03" role="tab" data-toggle="tab" style="font-weight: 900;color: white;">Activities</a></li>
                         </ul>

                         <div class="tab-content">
                              <div class="tab-pane active" id="tab01" role="tabpanel">
                                   <div class="tab-pane-item">
                                        <div class="pricing-title">
                                             <h2 style="font-weight: 600; color: white;">All &nbsp;Members Info</h2>
                                        </div>
                                        <ol >
                                             {% if person %}
                                                       
                                                  {% for item in person %}
                                                  
                                                 
                                                       <div class="pricing-thumb" style="background-color:rgb(17, 17, 36) ;">
                                                            <li style="color: white;">
                                                                 
                                                                 
                                                                 <div class="testimonial-item">
                                                                      <img src="{{item.pix.url}}" class="img-responsive" alt="profile picture">
                                                                      <h4 style="color: whitesmoke;font-weight: 900;">{{item.user.username|title}}</h4>
                                                                 </div>
                                                                 <div class="pricing-info">
                                                                      <p><span style="font-weight: 600; color: white;">First Name: {{item.user.first_name|title}} </p>
                                                                      <p><span style="font-weight: 600; color: white;">Last Name: {{item.user.last_name|title}}</p>
                                                                      <p><span style="font-weight: 900; color: rgb(12, 131, 12);">Phone Number: +(234){{item.phone}} </p>
                                                                      <p><span style="font-weight: 900; color: rgb(85, 180, 180);">Birthday: {{item.dob|date:"Mj"}}</p>
                                                                 </div>
                                                                 <div class="pricing-bottom">
                                                                      <a href="tel:+234{{item.phone}}" class="section-btn pricing-btn"><i class="fa fa-phone" aria-hidden="true"></i>Call </a>
                                                                 </div>
                                                            </li>
                                                       </div>
                                               
                                                  {% endfor %}
                                                  
                                              {% endif %}
                                           
                                      </ol>
                                     
                                   </div>
                              </div>


                              <div class="tab-pane" id="tab02" role="tabpanel">
                                   <div class="tab-pane-item">
                                        <div class="pricing-thumb">
                                             <div class="pricing-title">
                                                  <h2>Messages From Clients</h2>
                                             </div>

                                             <div class="pricing-info">
                                                  <table class="table">
                                                       <thead class="table-dark">
                                                         <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Full Name</th>
                                                            <th scope="col">Email</th>
                                                            <th scope="col">Message</th>
                                                         </tr>
                                                       </thead>


                                                       <tbody>
                                                            
                                                            {% if cont %}
                                                                 
                                                                 {% for item in cont %}
                                                                 
                                                            <tr>
                                                                 <td scope="col">{{item.id}}</td>
                                                                 <td scope="col">{{item.full_name}} </td>
                                                                 <td scope="col">{{item.email}}</td>
                                                                 <td scope="col">{{item.message}}</td>
                                                              </tr>
                                                            
                                                                      
                                                                 {% endfor %}
                                                                      
                                                            {% endif %}
                                                                
                                                       </tbody>
                                                     </table>
                                               
                                               
                                             </div>

                                         </div>
                                   </div>
                              </div>

                              <div class="tab-pane" id="tab03" role="tabpanel">
                                   <div class="tab-pane-item">
                                        <h3 style="color: white;font-weight: 600;"><i class="fa fa-user-circle" aria-hidden="true"></i> Activities</h3>
                                        <table class="table">
                                             <thead class="table-dark">
                                               <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">User Name</th>
                                                  <th scope="col">Post</th>
                                                  <th scope="col">Comment</th>
                                               </tr>
                                             </thead>


                                             <tbody>
                                                  
                                                  {% if talk %}
                                                      
                                                      {% for item in talk %}
                                                      
                                                      <tr>
                                                           <td scope="col">{{item.id}}</td>
                                                           <td scope="col">{{item.commenter}}</td>
                                                           <td scope="col">{{item.post}}</td>
                                                           <td scope="col">{{item.body}}</td>
                                                      </tr>
                                                      {% endfor %}
                                                        
                                                  {% endif %}
                                                       
                                                
                                             </tbody>
                                           </table>
                                    
                                   </div>
                                 
                              </div>
                         </div>

                    </div>
                    <div class="col-md-12 col-sm-12">

                         <ul class="nav nav-tabs" role="tablist">
                              
                              <li class="active"><a href="#tab04" aria-controls="tab01" role="tab" data-toggle="tab"  style="font-weight: 900;color: white;">Monthly Theme</a></li>
                              <li><a href="#tab05" aria-controls="tab05" role="tab" data-toggle="tab" style="font-weight: 900;color: white;">Update Post/Activities</a></li>
                              <li><a href="#tab06" aria-controls="tab06" role="tab" data-toggle="tab"  style="font-weight: 900;color: white;">All post/Activities</a></li>
                 
                         </ul>

                         <div class="tab-content">
                              <div class="tab-pane active" id="tab04" role="tabpanel">
                                   <div class="tab-pane-item">
                                        <div class="col-md-6 col-sm-6  text-info">

                                             <h4 style="color: white; font-weight: 500;">Current Theme of the month : <i class="fa fa-file-picture-o" aria-hidden="true"></i></h4>
                                             <img src="{{fvp.montheme.url}}" class="img-responsive" style="height: 100%;" alt="logo">                             
                             
                                       
                                        </div>
                                        <div class="col-md-6 col-sm-6">                                        
                                             <form id="contact-form" role="form" action="" method="POST" enctype="multipart/form-data">   
                                                  {% csrf_token %}
                                                  
                                                  <div class="col-md-4 col-sm-4">
                                                       <input type="file" class="form-control" placeholder="Theme of the month" name="montheme" >
                                                  </div>
                                                  <div class="col-md-4 col-sm-4">
                                                       <input type="submit" class="form-control" placeholder="Change" >
                                                  </div>
     
                                             </form>
                                        </div>

                                   </div>
                              </div>


                              <div class="tab-pane" id="tab05" role="tabpanel">
                                   <div class="tab-pane-item">
                                        <div class="pricing-title">
                                             <h2  style="font-weight: 600;color: white;">Add to Post/Activities</h2>
                                        </div>
                                   
                                        <form id="contact-form" role="form" action="" method="POST" enctype="multipart/form-data">   
                                             {% csrf_token %}
                                             <div class="col-md-4 col-sm-4">
                                                  <input type="text" class="form-control" placeholder="Title must be unique" name="title" required=""  style="font-weight: 900;color: white;">
                                             </div>
                                             <div class="col-md-4 col-sm-4">
                                                  <input type="file" class="form-control" name="active" placeholder="Post" required="">
                                             </div>
                                           
                                             <div class="col-md-12 col-sm-12">
                                                  <textarea name="content" style="width: 100%;resize: none;" placeholder="Add extra context about the Post" id="" cols="30" rows="10"></textarea>
                                             </div>

                                             <div class="col-md-4 col-sm-4">
                                                  <input type="submit" class="form-control" name="" placeholder="Upload">
                                             </div>
                                        </form>
                                   </div>
                              </div>

                              <div class="tab-pane" id="tab06" role="tabpanel">
                                   <div class="tab-pane-item">
                         
                                
                                        <table class="table">
                                             <thead class="table-dark">
                                                  <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">Post/Activities</th>
                                                  <th scope="col">Date</th>
                                                  <th scope="col">Images</th>
                                                  <th scope="col">Delete</th>
                                                  </tr>
                                             </thead>


                                             <tbody>
                                                  
                                                  {% if activities %}
                                                       
                                                       {% for item in activities %}
                                                       <tr>
                                                            <td scope="col">{{item.id}}</td>
                                                            <td scope="col">{{item.title|title}} </td>
                                                            <td scope="col">{{item.updated}}</td>
                                                            <td scope="col"><img src="{{item.active.url}}" class="img-responsive" style="height: 70px;" alt="logo"> </td>
                                                            <td scope="col">
                                                                 <form action="{% url 'delete' %}" method="POST">
                                                                      {% csrf_token %}
                                                                     
                                                                        <input type="hidden" name="del_id" value="{{item.id}}">
                                                                        <button type="submit"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
                                                                     
                                                                    </form>
                                                             </td>
                                                       </tr>
                                                       {% endfor %}
                                                            
                                                  {% endif %}
                                                       
                                            
                                             </tbody>
                                             </table>
         
                                    
                                                                 
                              </div>
                           
                         </div>

                    </div>

                    <div class="col-md-12 col-sm-12">

                         <ul class="nav nav-tabs" role="tablist">
                              <h4><i class="fa fa-heart-o "  style="color: green;" aria-hidden="true"></i> <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i></h4>
                              <li class="active"><a href="#tab07" aria-controls="tab01" role="tab" data-toggle="tab"  style="font-weight: 900;color: white;">Likes</a></li>
                              <li ><a href="#tab08" aria-controls="tab01" role="tab" data-toggle="tab"  style="font-weight: 900;color: white;">Testimony</a></li>
                              <li ><a href="#tab09" aria-controls="tab01" role="tab" data-toggle="tab"  style="font-weight: 900;color: white;">Add Testimony</a></li>
                  
                 
                         </ul>

                         <div class="tab-content">
                              <div class="tab-pane active" id="tab07" role="tabpanel">
                                   <div class="tab-pane-item">
                                     
                                        <table class="table">
                                             <thead class="table-dark">
                                                  <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">User</th>
                                                  <th scope="col">Value</th>
                                                  <th scope="col">Post</th>
                                                  </tr>
                                             </thead>


                                             <tbody>
                                                 
                                                  {% if heart %}
                                                       
                                                       {% for item in heart %}
                                                       <tr>
                                                            <td scope="col">{{item.id}}</td>
                                                            <td scope="col">{{item.user|title}} </td>
                                                            <td scope="col">{{item.value}}</td>
                                                            <td scope="col">{{item.post}} </td>
                                                       </tr>
                                                       {% endfor %}
                                                            
                                                  {% endif %}
                                             </tbody>
                                             </table>

                                   </div>
                              </div>
                              <div class="tab-pane" id="tab08" role="tabpanel">
                                   <div class="tab-pane-item">
                                     
                                        <table class="table">
                                             <thead class="table-dark">
                                                  <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">Name</th>
                                                  <th scope="col">Testifier</th>
                                                  <th scope="col">Testimony</th>
                                                  <th scope="col">Delete</th>
                                                  </tr>
                                             </thead>


                                             <tbody>
                                               
                                                  {% if testifying %}
                                                       
                                                  {% for item in testifying %}
                                                  <tr>
                                                       <td scope="col">{{item.id}}</td>
                                                       <td scope="col">{{item.testifier|title}} </td>
                                                       <td scope="col"><img src="{{item.passport.url}}" class="img-responsive" style="height: 70px;" alt="logo"> </td>
                                                       <td scope="col">{{item.testimony}} </td>
                                                       <td scope="col"> 
                                                            <form action="{% url 'del_test' %}" method="POST">
                                                                 {% csrf_token %}
                                                                
                                                                   <input type="hidden" name="del_id" value="{{item.id}}">
                                                                   <button type="submit"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
                                                                
                                                               </form>
                                                       </td>
                                                  </tr>
                                                  {% endfor %}
                                                       
                                             {% endif %} 
                                            
                                             </tbody>
                                             </table>

                                   </div>
                              </div>

                              
                              <div class="tab-pane" id="tab09" role="tabpanel">
                                   <div class="tab-pane-item">
                                        <div class="pricing-title">
                                             <h2  style="font-weight: 600;color: white;">Add to Testimonies</h2>
                                        </div>
                                   
                                        <form id="contact-form" role="form" action="" method="POST" enctype="multipart/form-data">   
                                             {% csrf_token %}
                                             <div class="col-md-4 col-sm-4">
                                                  <input type="text" class="form-control" placeholder="Name of testifier" name="testifier" required=""  style="font-weight: 900;color: white;">
                                             </div>
                                             <div class="col-md-4 col-sm-4">
                                                  <input type="file" class="form-control" name="passport" placeholder="passport photograph" required="">
                                             </div>
                                           
                                             <div class="col-md-12 col-sm-12">
                                                  <textarea name="testimony" style="width: 100%;resize: none;" placeholder="write the testimony here" id="" cols="30" rows="10"></textarea>
                                             </div>

                                             <div class="col-md-4 col-sm-4">
                                                  <input type="submit" class="form-control" name="" placeholder="Upload">
                                             </div>
                                        </form>
                                   </div>
                              </div>
                          
                           
                         </div>

                    </div>
                    <div class="col-md-12 col-sm-12">

                         <ul class="nav nav-tabs" role="tablist">
                              <h4><button class="btn btn-primary">
                                   <i class="fa fa-bell" aria-hidden="true"></i> 
                                   <span class="badge badge-light">{{timer}}</span>
                                   </button>
                              </h4>
                              <li class="active"><a href="#tab011" aria-controls="tab01" role="tab" data-toggle="tab"  style="font-weight: 900;color: white;">Notification</a></li>
                              <li ><a href="#tab013" aria-controls="tab01" role="tab" data-toggle="tab"  style="font-weight: 900;color: white;">Add Notification</a></li>
                  
                 
                         </ul>

                         <div class="tab-content">
                              <div class="tab-pane active" id="tab011" role="tabpanel">
                                   <div class="tab-pane-item">
                                     
                                        <table class="table">
                                             <thead class="table-dark">
                                                  <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">Text</th>
                                                  <th scope="col">Time</th>
                                                  
                                                  <th scope="col">Delete</th>
                                                  </tr>
                                             </thead>


                                             <tbody>
                                               
                                                  {% if infor %}
                                                       
                                                  {% for item in infor %}
                                                  <tr>
                                                       <td scope="col">{{item.id}}</td>
                                                       <td scope="col">{{item.the_info|title}} </td>
                                                      
                                                       <td scope="col">{{item.period}} </td>
                                                       <td scope="col"> 
                                                            <form action="{% url 'del_notification' %}" method="POST">
                                                                 {% csrf_token %}
                                                                
                                                                   <input type="hidden" name="del_id" value="{{item.id}}">
                                                                   <button type="submit"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
                                                                
                                                               </form>
                                                       </td>
                                                  </tr>
                                                  {% endfor %}
                                                       
                                             {% endif %} 
                                            
                                             </tbody>
                                             </table>

                                   </div>
                              </div>
                     

                              
                              <div class="tab-pane" id="tab013" role="tabpanel">
                                   <div class="tab-pane-item">
                                        <div class="pricing-title">
                                             <h2  style="font-weight: 600;color: white;">Add Notifications To All Users</h2>
                                        </div>
                                   
                                        <form id="contact-form" role="form" action="" method="POST" enctype="multipart/form-data">   
                                             {% csrf_token %}
                                         
                                         
                                           
                                             <div class="col-md-12 col-sm-12">
                                                  <textarea name="the_info" style="width: 100%;resize: none;" placeholder="write the testimony here" id="" cols="30" rows="10"></textarea>
                                             </div>

                                             <div class="col-md-4 col-sm-4">
                                                  <input type="submit" class="form-control" name="" placeholder="Upload">
                                             </div>
                                        </form>
                                   </div>
                              </div>
                          
                           
                         </div>

                    </div>


                  



               </div>
          </div>
     </section>

{% endblock content %}







  


   


